[package]
name = "svalin_iced"
version = "0.1.0"
edition = "2024"

[dependencies]

svalin = { path = "../svalin" }
svalin_pki = { path = "../svalin_pki" }
svalin_rpc = { path = "../svalin_rpc" }
svalin_sysctl = { path = "../svalin_sysctl" }
svalin_macros = { path = "../svalin_macros" }

frozen_term = { path = "../frozen_term" }

anyhow = "1.0.97"
futures-util = "0.3.31"
tokio = { workspace = true }
totp-rs = { version = "5.6.0", features = ["qr", "gen_secret"] }
lyon_algorithms = "1.0.5"
iced = { workspace = true }
iced_aw = "0.12.2"
thiserror = { workspace = true }
tokio-stream = { version = "0.1.17", features = ["full"] }
tokio-util = { workspace = true }
futures = "0.3.31"
uuid = "1.16.0"
rust-i18n = "3.1.4"
sipper = { workspace = true }

[build-dependencies]
iced_fontello = "0.13"
