[package]
name = "svalin_iced"
version = "0.1.0"
edition = "2024"

[dependencies]

svalin = { path = "../svalin" }
svalin_pki = { path = "../svalin_pki" }
svalin_rpc = { path = "../svalin_rpc" }
svalin_sysctl = { path = "../svalin_sysctl" }
svalin_macros = { path = "../svalin_macros" }

frozen_term = { path = "../frozen_term" }

anyhow = "1.0.96"
futures-util = "0.3.31"
tokio = { version = "1.43.0", features = ["full"] }
totp-rs = { version = "5.6.0", features = ["qr", "gen_secret"] }
lyon_algorithms = "1.0.5"
iced = { version = "0.13.1", features = [
    "tokio",
    "advanced",
    "multi-window",
    "svg",
    "image",
    "canvas",
] }
iced_aw = "0.12.1"
thiserror = "2.0.11"
tokio-stream = { version = "0.1.17", features = ["full"] }
tokio-util = "0.7.13"
futures = "0.3.31"
uuid = "1.15.1"
rust-i18n = "3.1.3"
