[workspace]

resolver = "2"

members = [
    "svalin",
    "svalin_macros",
    "svalin_pki",
    "svalin_rpc",
    "svalin_sysctl",
    "svalin_iced",
    "sqlx_storage"
]

[workspace.dependencies]
anyhow = "1.0.100"
async-trait = "0.1.89"
postcard = { version = "1.1.3", features = ["alloc", "use-std"] }
rand = "0.9.2"
serde = "1.0.228"
serde_json = { version = "1.0.148", features = ["alloc"] }
sipper = "0.1.0"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full", "test-util"] }
tokio-util = { version = "0.7.17", features = ["rt"] }
tracing = "0.1.44"
time = "0.3.47"
sqlx = { version = "0.8.6", features = ["runtime-tokio", "sqlite"] }
