[workspace]

resolver = "2"

members = [
    "marmelade",
    "svalin",
    "svalin_macros",
    "svalin_pki",
    "svalin_rpc",
    "gui_flutter/rust",
    "svalin_sysctl",
    "svalin_libcosmic",
]
