[workspace]

resolver = "2"

members = [
    "svalin",
    "svalin_macros",
    "svalin_pki",
    "svalin_rpc",
    "svalin_sysctl",
    "svalin_iced", "svalin_crypto",
]

[workspace.dependencies]
anyhow = "1.0.98"
async-trait = "0.1.88"
iced = { version = "0.13.1", features = [
    "tokio",
    "advanced",
    "multi-window",
    "svg",
    "image",
    "canvas",
] }
postcard = { version = "1.1.2", features = ["alloc", "use-std"] }
rand = "0.9.1"
serde = "1.0.219"
serde_json = { version = "1.0.140", features = ["alloc"] }
sipper = "0.1.0"
thiserror = "2.0.12"
tokio = { version = "1.46.0", features = ["full", "test-util"] }
tokio-util = { version = "0.7.15", features = ["rt"] }
tracing = "0.1.41"
