[package]
name = "svalin_pki"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
argon2 = { version = "0.5.3", features = ["simple", "std"] }
postcard = "1.0.8"
rcgen = { version = "0.12.1", features = ["pem", "ring", "x509-parser"]}
ring = "0.17.7"
serde = "1.0.195"
serde_json = "1.0.111"
time = "0.3.31"
uuid = { version = "1.7.0", features = ["v4"] }
x509-parser = { version = "0.15.1", features = ["ring", "validate", "verify"] }
