[package]
name = "svalin_pki"
version = "0.1.0"
edition = "2024"

[features]
rustls = ["dep:rustls"]

[dependencies]
anyhow = "1.0.97"
argon2 = { version = "0.5.3", features = ["simple", "std"] }
sha2 = "0.10.8"
postcard = { version = "1.1.1", features = ["alloc", "use-std"] }
rand = "0.9.0"
rcgen = { version = "0.13.2", features = ["pem", "ring", "x509-parser"] }
ring = "0.17.14"
rustls = { version = "0.23.25", optional = true, default-features = false }
serde = "1.0.219"
spki = { version = "0.7.3", features = ["alloc", "fingerprint", "sha2", "std"] }
thiserror = "2.0.12"
time = "0.3.41"
tokio = { version = "1.44.2", features = ["full", "test-util"] }
tracing = "0.1.41"
x509-parser = { version = "0.17.0", features = ["ring", "validate", "verify"] }
zeroize = { version = "1.8.1", features = ["aarch64", "derive", "std"] }
