[package]
name = "svalin_pki"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.83"
argon2 = { version = "0.5.3", features = ["simple", "std"] }
postcard = "1.0.8"
rcgen = { version = "0.12.1", features = ["pem", "ring", "x509-parser"]}
ring = "0.17.8"
serde = "1.0.200"
serde_json = "1.0.116"
time = "0.3.36"
tracing = "0.1.40"
x509-parser = { version = "0.15.1", features = ["ring", "validate", "verify"] }