[package]
name = "svalin_pki"
version = "0.1.0"
edition = "2024"

[features]
rustls = ["dep:rustls"]

[dependencies]
anyhow = "1.0.98"
argon2 = { version = "0.5.3", features = ["simple", "std"] }
sha2 = "0.10.9"
postcard = { workspace = true }
rand = { workspace = true }
rcgen = { version = "0.14.3", features = ["x509-parser", "zeroize"] }
ring = "0.17.14"
rustls = { version = "0.23.28", optional = true, default-features = false }
serde = { workspace = true }
thiserror = { workspace = true }
time = "0.3.41"
tokio = { workspace = true }
tracing = { workspace = true }
x509-parser = { version = "0.17.0", features = ["ring", "validate", "verify"] }
zeroize = { version = "1.8.1", features = ["aarch64", "derive", "std"] }
spki = { version = "0.7.3", features = ["std", "sha2", "fingerprint"] }
hpke = { version = "0.13.0", default-features = false, features = [
    "alloc",
    "x25519",
] }
ed25519-dalek = { version = "2.1.1", features = ["pkcs8"] }

[dev-dependencies]
serde_json = { workspace = true }
