[package]
name = "svalin_rpc"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.96"
async-trait = "0.1.86"
futures = "0.3.31"
postcard = "1.1.1"
serde = "1.0.218"
tokio = { version = "1.43.0", features = ["full"] }
svalin_macros = { path = "../svalin_macros" }
svalin_pki = { path = "../svalin_pki", features = ["rustls"] }
quinn = { version = "0.11.6", features = ["ring"] }
tracing = "0.1.41"
test-log = { version = "0.2.17", features = ["trace"] }
tokio-rustls = { version = "0.26.2", default-features = false, features = [
    "ring",
] }
tokio-util = { version = "0.7.13", features = ["rt"] }
thiserror = "2.0.12"
