[package]
name = "svalin_rpc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.83"
async-trait = "0.1.80"
futures = "0.3.30"
postcard = "1.0.8"
serde = "1.0.200"
serde_json = "1.0.116"
tokio = { version = "1.37.0", features = ["full"] }
svalin_macros = { path = "../svalin_macros" }
svalin_pki = { path = "../svalin_pki" }
url = { version = "2.5.0", features = ["serde"] }
quinn = { version = "0.11.0", features = ["ring"] }
lazy_static = "1.4.0"
