[package]
name = "svalin_rpc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.82"
async-trait = "0.1.80"
futures = "0.3.30"
postcard = "1.0.8"
quinn = "0.10.2"
rustls = { version = "0.21.0", default-features = false, features = [
    "quic",
    "dangerous_configuration",
] }
serde = "1.0.195"
serde_json = "1.0.111"
tokio = { version = "1.35.1", features = ["full"] }
svalin_macros = { path = "../svalin_macros" }
svalin_pki = { path = "../svalin_pki" }
url = { version = "2.5.0", features = ["serde"] }
