[package]
name = "svalin"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
async-trait = "0.1.77"
clap = { version = "4.4.18", features = ["derive"] }
serde = "1.0.195"
serde_json = "1.0.111"
svalin_pki = { path = "../svalin_pki"}
svalin_rpc = { path = "../svalin_rpc"}
svalin_macros = { path = "../svalin_macros"}
marmelade = { path = "../marmelade"}
tokio = { version = "1.35.1", features = ["full"] }
