[package]
name = "svalin"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.95"
async-trait = "0.1.83"
clap = { version = "4.5.23", features = ["derive"] }
serde = "1.0.217"
serde_json = "1.0.134"
svalin_pki = { path = "../svalin_pki" }
svalin_rpc = { path = "../svalin_rpc" }
svalin_sysctl = { path = "../svalin_sysctl" }
svalin_macros = { path = "../svalin_macros" }
marmelade = { path = "../marmelade", features = ["postcard"] }
tokio = { version = "1.42.0", features = ["full", "test-util"] }
rand = "0.8.5"
totp-rs = { version = "5.6.0", features = [
    "qr",
    "serde_support",
    "gen_secret",
] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
test-log = { version = "0.2.16", features = ["trace"] }
futures = "0.3.31"
pin-project = "1.1.7"
thiserror = "2.0.9"
iced_aw = "0.11.0"
uuid = { version = "1.11.0", features = ["v4"] }
