name: build and publish release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      - name: compile svalin and svalin-iced
        run: cargo build --release --bins
      - name: install cargo-deb
        run: cargo install cargo-deb
      - name: build debian package
        run: cargo-deb --package svalin --manifest-path svalin/Cargo.toml --no-build -o target/debian/svalin.deb
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/svalin
            target/release/svalin_iced
            target/debian/*.deb
          prerelease: true